.modalContainer {
    background-color: white;
    width: 400px;
    max-height: 600px;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    outline: none
    
}

.modalContent {
    margin: 30px;
    overflow: auto; 
}