/* whole drawer*/
.goalsDrawer {
    width: 350px;
}

/* div returned with GoalsDrawer call*/
.goalsButtonDiv {
    display: inline-block;
    margin: 30px;
    margin-right: 30px;
    float: right;
}

/* drawerContent: title, goals, etc.*/
.drawerContent {
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

/* div for drawer title*/
.drawerTitleDiv {
    display: inline-block;
    margin-right:19px;
}

.addGoalButtonDiv {
    display: inline-block;
    float: right;
    margin-top: 24px;
}

/* div for see details button*/
.leftButton{
    display: inline-block;
}

/* div for finished button/add goal button*/
.rightButton{
    display: inline-block;
    float: right;

}

/* div for list of goal containers*/
.goalsList {
}

/* div for individual goal containers*/
.goalIndividualContainer {
    background-color:  rgb(190, 232, 238) !important;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: auto;
}

/* contents of individual goals*/
.goalIndividualContents {
    margin: 20px;
}

.addGoalForm {
}

.taskTitleAndButton {
}

.tasksTitleDiv {
    display: inline-block;
    margin-right:19px;
}

.addAnotherTaskButtonDiv {
    display: inline-block;
    float: right;
    margin-top: 10px;
    vertical-align: middle;

}

.formSubmitButton {
    display: inline-block;
    float: right;
}

.formTextFieldGoal {
    width: 90%;
}

.formTextFieldTask {
    width: 85%;
}



/* text formatting, should move into a general css file*/
.bold {
    font-weight: bold;
}


