.modalContainer {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.modalContent {
    margin: 20px;
    
}