
.ocean {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}

.oceanContent {
  flex: 1 1 auto;
  z-index: 1;
  background-color: rgb(51, 61, 204);
}

.sessionBox {
  position: absolute;
  right: 5vw;
  top: 30vh;

  padding: 3vh 1vw 3vh 1vw;

  width: 15vw;
  height: auto;
  z-index: 2;

  background: white;

  text-align: center;
  border: solid 3px black;
  border-radius: 15%;
}

.session-form-input {
  margin-bottom: 3vh !important;
}

.currentSessionBox {
  width: auto;
  height: 100%;
}

#fishList {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  list-style: none;
}

.fishListItem {
  flex: 2;
}