.profCard{
    border-radius: 15px;
    padding:15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width:300px;
    /* border:1px solid green; */
}
.headerinput{
    /* color:red; */
    font-size:24px;
    width:50%;
}

.profName{
    /* padding-left:5px; */
    margin-bottom: 0px;
    margin-top: 0px;
}
.profName:hover{
    background-color: rgb(237, 242, 245);
    border-radius: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.profTagline{
    margin-top:5px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.profTagline:hover{
    background-color: rgb(237, 242, 245);
    border-radius: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.centerText{
    text-align: center;
}

.profHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#profText * {
    /* padding: 0; */
    padding-left:5px;
    margin-left:-5px;
    /* margin: 0; */
}

#profText{
    display:flex;

    flex-direction: column;
    padding: 0;
    margin: 0;
    height: auto;

}

.profImg{
    width:40px;
    height:40px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: aquamarine;
    
}

.profButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profButtons button{
    margin-bottom: 10px;
}

.friend{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#linkButton{
    width:100%;
    color:white;
}